html body .modal-dialog .modal-content .modal-header .close-icn {
    color: #3475e0;
}

.modal-header {
    border: none;
}

.modal-header {
    border-bottom: none;
    padding: 20px 30px 0
}

.modal-body {
    padding: 20px 30px 30px;
}

h4.modal-title {
    color: rgb(40, 50, 55);
    font-size: 18px;
    font-weight: bold
}

.modal-dialog {
    width: 1100px;
    max-width: 1100px;
}

label {
    display: block;
    color: rgb(69, 76, 92);
    font-size: 14px;
    font-weight: normal;
}

.input {
    border: 1px solid #dddddd;
    height: 40px;
    line-height: 40px;
    background: #FFFFFF;
    padding: 0 10px;
    border-radius: 6px;
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
}

.input.textarea {
    height: 120px;
}

.input:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #3475e0
}

.col-md-12 {
    padding-left: 15px !important;
}

.col-md-4 {
    padding-left: 15px !important;
}

.date-container {
    position: relative;
    width: 100%;
}

.date-container .input {}

.date-container .date-icon {
    position: absolute;
    top: 9px;
    right: 10px;
    font-size: 18px;
    cursor: pointer;
    color: #0069da;
    margin: 0;
    height: 20px;
}

.browse span {
    margin-right: 10px;
}

.table {
    border-collapse: separate;
    border-spacing: 0;

    th {
        background: #e6f3e3;
        border-bottom: 1px solid #d4ddf2;
        padding: 8px 10px;
    }

    td {
        border-left: 1px solid #e4eaf7;
        border-bottom: 1px solid #e4eaf7;
        padding: 8px 10px;
    }

    td:last-child {
        border-right: 1px solid #e4eaf7;
    }

    tr th:first-child {
        border-top-left-radius: 4px;
    }

    tr th:last-child {
        border-top-right-radius: 4px;
    }

    tr:first-child {
        th:first-child {
            border-left: 1px solid #e6f3e3;
        }

        th:last-child {
            border-right: 1px solid #e6f3e3;
        }
    }
}

.container-fluid {
    width: 100%;
    margin: auto;
}

.form-check .form-check-label:has(input[type="checkbox"]) {
    margin-left: 5px;
    padding-left: 10px!important;
    margin-top: 30px;
}
.input-helper {
    position: absolute;
    left: -3px;
    top: 4px;
}
.mt-10 {
    margin-top: 10px;
}
.notes-container {
    background: #FFF5C4;
    border-radius: 6px;
    padding: 6px 10px 10px 10px;
}