<div class="rpo-address-type rpo-component">
    <div class="row component-header">
        <div class="col-sm-12">
            <h2 class="component-title pull-left mr-2">Holiday Calendar</h2>
            <button type="button" class="btn btn-panel pull-right middle {{showHolidayCalendarAddBtn}}" (click)="openModalForm(holidaycalendarform,null,true)">Add Holiday</button>
            <div class="pull-left search middle">
                <div class="inner-addon left-addon">
                    <i class="icon fa fa-search"></i>
                    <input type="text" class="form-control pull-right" placeholder="Search Holiday" [(ngModel)]="search" (ngModelChange)="searchHoldiays(search)"/>
                </div>
            </div>
        </div>
    </div>

    <div class="component-body">
        <table id="dt-holiday-calendar-table" class="display" style="width:100%"></table>
    </div>
    <ng-template #holidaycalendarform>
        <div add-holiday-calendar [modalRef]="modalRef" [reload]="reload" [holidayId]="holidayId" [isNew]="isNew"></div>
    </ng-template>

</div>
<div class="lds-css" *ngIf="loading">
    <div class="lds-ripple">
        <div></div>
        <div></div>
    </div>
</div>