.rpo-scopeReview {
    button.middle {
      margin-top: 12px;
    }
    .footer-area{
      // border-top: 1px solid #ddd;
      margin-top: 15px;
    }
    .company-items{
      max-height: 150px;
      overflow: auto;
    }
  }
  
  .search {
    width: 294px;
    margin-right: 20px;
    &.middle {
      margin-top: 15px;
    }
  }
  