<div class="rpo-login myPassword">
  <div class="logo">
    <img class="logo" src="../../../../assets/snap_cor_logo_black.svg" />
  </div>
  <div class="container-box">
    <div class="container">
      <div class="form-container">
        <form [formGroup]="setPasswordForm">
          <div class="login-title">
            <h2>Set Password</h2>
            <p>The password should have at least 8 characters</p>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-sm-12">
                <label>New password</label>
                <input class="form-control" placeholder="Enter password" type="password" autocomplete="off"
                  formControlName="newPassword" [ngClass]="{
                        'is-invalid':
                          setPasswordFormControls.newPassword.touched &&
                          setPasswordFormControls.newPassword.errors
                      }" />
                <div *ngIf="
                        setPasswordFormControls.newPassword.touched &&
                        setPasswordFormControls.newPassword.errors
                      " class="invalid-feedback">
                  <div *ngIf="
                          setPasswordFormControls.newPassword.errors.required
                        ">
                    {{ errorMessage.requiredNewPassword }}
                  </div>
                  <div *ngIf="
                          setPasswordFormControls.newPassword.errors?.minlength && !setPasswordFormControls.newPassword.errors.required
                        ">
                    {{ errorMessage.minLengthNewPassword }}
                  </div>
                  <div *ngIf="
                          setPasswordFormControls.newPassword.errors?.maxlength && !setPasswordFormControls.newPassword.errors.required
                        ">
                    {{ errorMessage.maxLengthNewPassword }}
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <label>Confirm password</label>
                <input class="form-control" placeholder="Enter confirm password" type="password" autocomplete="off"
                  formControlName="confirmPassword" [ngClass]="{
                        'is-invalid':
                          setPasswordFormControls.confirmPassword.touched &&
                          setPasswordFormControls.confirmPassword.errors
                      }" />
                <div *ngIf="
                        setPasswordFormControls.confirmPassword.touched &&
                        setPasswordFormControls.confirmPassword.errors
                      " class="invalid-feedback">
                  <div *ngIf="
                          setPasswordFormControls.confirmPassword.errors
                            .required
                        ">
                    {{ errorMessage.requiredConfirmPassword }}
                  </div>
                  <div *ngIf="
                          setPasswordFormControls.confirmPassword.errors
                            .confirmPasswordValidator
                        ">
                    {{ errorMessage.requiredMatchConfirmPassword }}
                  </div>
                </div>
              </div>
              <!-- <div class="col-sm-12">
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" formControlName="termsAgree" />By Signing up I agree with Snapcor's 
                    <a>Terms & Conditions</a>
                    <i class="input-helper"></i>
                  </label>
                </div>
              </div> -->
            </div>
          </div>
          <button class="btn btn-blue" type="submit"
            [disabled]="setPasswordForm?.invalid || setPasswordFormControls.newPassword.value.length < 8"
            (click)="setPasswordClickEvent()">
            Save
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="copyRight">
    © 2023 SnapCor<span class="trademark">®</span> Inc. All Rights Reserved.
  </div>
</div>

<div class="lds-css" *ngIf="loading">
  <div class="lds-ripple">
    <div></div>
    <div></div>
  </div>
</div>