.component-header {
  padding-top: 0;
}
div.rpo-login {
  position: relative;
  padding: 30px;
  background-image: url("../../../../assets/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.myPassword {
  .logo {
    width: auto;
    height: 40px;
  }
}
.container-box {
  width: 60%;
  max-width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .container {
    width: 100%;
    box-shadow: 0 1px 40px rgba(0, 0, 0, 0.1);
    background: #fff;
    padding: 40px;
    & [class^="col-"] {
      margin-bottom: 20px;
    }
    & [class^="col-"] + [class^="col-"]:not(.force-col) {
      padding-left: 15px !important;
    }
  }
  .login-title {
    color: #121212;
    h2 {
      font-weight: bold;
      font-size: 26px;
      margin: 0 0 20px;
    }
    p {
      font-size: 18px;
      font-weight: normal;
      margin-bottom: 20px;
    }
  }
  label {
    font-size: 16px;
    a {
      color: #2db32d;
      text-decoration: underline;
    }
  }
  .form-check
    .form-check-label
    input[type="checkbox"]
    + a
    + .input-helper:before,
  .form-check
    .form-check-label
    input[type="checkbox"]
    + a
    + .input-helper:after {
    top: 4px;
  }
  .form-check
    .form-check-label
    input[type="checkbox"]:checked
    + a
    + .input-helper:before {
    border: 1px solid #33cc33 !important;
  }
}
.btn.btn-blue {
  padding: 0 40px !important;
}
.copyRight {
  position: absolute;
  bottom: 0;
  text-align: center;
  color: #454c5c;
  font-size: 12px;
  left: 50%;
  transform: translateX(-50%);
  height: 40px;
}

.is-invalid {
  border: 1px solid #eb0101;
  border-radius: 7px;
}

.invalid-feedback {
  color: #eb0101;
  font-size: 10px;
  font-weight: 700;
}

.error-span {
  color: #eb0101;
}
