<div class="rpo-login">
    <div class="container-box">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="text-center">
                            <img src="../../../assets/logo-black.png" width="150px" style="margin-top: 16px;" alt="">
                        </div>
                        <h4 class="component-title text-center">Trademark Notice</h4>

                        <div class="fixed-container">
                            <h4 class="component-title">
                                SnapCor Trademark Guidelines
                            </h4>
                            <p>
                                Last Updated: November 29, 2023<br><br>
                                These Trademark Guidelines ("Guidelines") are provided to help you understand how to use
                                the SnapCor name and logo ("SnapCor Trademarks") correctly and consistently. SnapCor,
                                Inc. ("SnapCor," "we," "our," or "us") owns and maintains the SnapCor Trademarks, and we
                                require that you follow these Guidelines when using them.
                            </p>


                            <h4 class="component-title">
                                Permissible Uses
                            </h4>
                            <ul>
                                <li>
                                    <b>Authorized Use: </b>
                                    You are authorized to use the SnapCor Trademarks to refer to
                                    SnapCor, its products, services, and offerings, provided that your use complies with
                                    these Guidelines and applicable laws.
                                </li>
                            </ul>


                            <h4 class="component-title">
                                Prohibited Uses
                            </h4>
                            <ul>
                                <li>
                                    <b>Modification: </b>
                                    You may not modify, distort, or alter the SnapCor Trademarks in any way, including
                                    changing their color, design, or proportion.
                                </li>
                                <li>
                                    <b>Confusing Use: </b>
                                    Do not use the SnapCor Trademarks in a way that may confuse or mislead others into
                                    thinking that your products, services, or offerings are associated with SnapCor.
                                </li>
                                <li>
                                    <b>Endorsement: </b>
                                    Do not use the SnapCor Trademarks in a way that implies endorsement, sponsorship,
                                    affiliation, or approval by SnapCor, unless you have obtained written permission
                                    from SnapCor.
                                </li>
                                <li>
                                    <b>Ownership Claims: </b>
                                    You may not claim ownership of the SnapCor Trademarks or use them in a way that
                                    suggests you have any rights to them beyond the permissions granted in these
                                    Guidelines.
                                </li>
                                <li>
                                    <b>Generic Use: </b>
                                    Avoid using the SnapCor Trademarks in a generic or descriptive manner, such as using
                                    "snapcor" as a common term for products or services unrelated to SnapCor.
                                </li>
                            </ul>

                            <h4 class="component-title">
                                Proper Use
                            </h4>
                            <ul>
                                <li>
                                    <b>Trademarks Notice: </b>
                                    When you use the SnapCor Trademarks in text, it should be followed by the
                                    appropriate trademark symbol (®) to indicate that SnapCor claims ownership of the
                                    trademark. Example: "SnapCor® platform."
                                </li>
                                <li>
                                    <b>Clear Separation: </b>
                                    Ensure that there is clear visual separation between the SnapCor Trademarks and your
                                    own branding or content, so as not to imply a combined or co-branded product or
                                    service.
                                </li>
                            </ul>

                            <h4 class="component-title">
                                Reporting Misuse
                            </h4>
                            <p>
                                If you become aware of any unauthorized or improper use of the SnapCor Trademarks,
                                please report it to SnapCor at <a href="mailto:support@snapcor.com"
                                    class="hyper-link">support@snapcor.com</a>
                            </p>

                            <h4 class="component-title">
                                Reservation of Rights
                            </h4>
                            <p>SnapCor reserves all rights not expressly granted in these Guidelines. SnapCor may modify
                                these Guidelines at any time, and your continued use of the SnapCor Trademarks is
                                subject to the latest version of these Guidelines.</p>

                            <h4 class="component-title">
                                Changes to This Privacy Policy
                            </h4>
                            <p>SnapCor may modify or revise this Privacy Policy at any time by posting the updated
                                policy on the Offerings. Your continued use of the Offerings after any changes to this
                                policy will constitute your acceptance of the updated terms.</p>

                            <h4 class="component-title">
                                Contact Us
                            </h4>
                            <p>If you have any questions about these Guidelines or the use of the SnapCor Trademarks,
                                please contact us at:</p>
                            <br>

                            <p class="text-muted">
                                SnapCor, Inc. <br>
                                146 West 29th Street <br>
                                New York, NY 10001 USA <br>
                                <a href="mailto:support@snapcor.com" class="hyper-link">support@snapcor.com</a> <br>
                                1 (888) 762-7262
                            </p>
                            <br>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="copy-right">
                &copy; 2023 SnapCor<span class="trademark">®</span> Inc. All Rights Reserved.
            </div>
        </div>
    </div>
</div>