// .card {
//     box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
//     padding: 20px;
//     margin: 20px 0;
//     border-radius: 10px;
// }
.hyper-link {
    color: #2db32d;
    font-weight: 700;
    text-decoration: none;
}
@import "../../../constants.scss";
div.rpo-login {
  position: relative;
  padding: 30px;
  background-image: url("../../../assets/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  img.logo {
    display: block;
    width: 189px;
    height: auto;
    margin: 0;
    padding: 0;
  }
  .container-box {
    width: 60%;
    margin: auto;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    .container {
      width: 100%;
      box-shadow: 0 1px 40px rgba($primary-brand-color, 0.1);
      background: $primary-contrast;
      border-radius: 20px;
    }
  }
  
  .copyRight {
    position: absolute;
    bottom: 0;
    text-align: center;
    color: #454c5c;
    font-size: 12px;
    left: 50%;
    transform: translateX(-50%);
    height: 40px;
  }
  .box {
    opacity: 1;
    padding: 50px;
    border-width: 1px;
    border-radius: 2px;
    border-color: #d5e1e8;
    border-style: solid;
    background-color: #f4f8f9;
    background-image: none;
    background-size: auto;
    background-repeat: repeat;
    background-position: center center;
    box-shadow: #eaeaea 1px 1px 10px;
    span {
      color: #0553fc;
      font-size: 26px;
      font-weight: 300;
    }
    .form-group {
      // padding-bottom: 20px;
      margin-bottom: 20px;
    }
    input {
      opacity: 1;
      background-color: rgb(255, 255, 255);
      border-color: rgb(221, 221, 221);
      border-width: 1px;
      color: rgb(102, 102, 102);
      padding: 0px 10px;
      text-align: left;
      font-size: 22px;
      border-radius: 2px;
      border-style: solid;
      background-size: auto;
      background-repeat: repeat;
      background-position: center center;
      height: 52px;
    }
    // button[type="submit"] {
    //   border-radius: 0px;
    //   background-color: #000;
    //   color: #fff;
    //   padding: 10px 50px;
    // }
  }
}

.form-control[disabled],
fieldset[disabled] .form-control {
  background-color: #cccccc42 !important;
}

.is-invalid {
  border: 1px solid #eb0101;
  border-radius: 7px;
}

.invalid-feedback {
  color: #eb0101;
  font-size: 10px;
  font-weight: 700;
}

.error-span {
  color: #eb0101;
}

.container {
    max-height: 86vh!important;
    overflow-y: hidden!important;
}

.fixed-container {
    overflow-y: scroll;
    height: 75vh;
} 
.copy-right {
    color: #454C5C;
    font-size: 12px;
    margin-top: 10px;
    text-align: center;
}
