<div class="modal-custom-content" cdkDrag>
    <form #groupform="ngForm">
        <div class="modal-header" cdkDragHandle>
            <button type="button" class="close close-icn" cdkDragHandle>
                <span class="fa fa-arrows"></span>
            </button>
            <h4 class="modal-title pull-left">{{isNew ? 'Create' : 'Edit'}} Checklist Group </h4>
        </div>
        <div class="modal-body pb0 pt15">
            <div class="row form-group">
                <div class="col-sm-12">
                    <label for="task">Checklist Group Name*</label>
                    <input id="nameDesc" name="nameDesc" type="text" class="form-control" [(ngModel)]="groupData.name" #nameDesc="ngModel"
                    placeholder="Checklist Group Name" required/>
                    <div class="error-message pl0">
                        <div *ngIf="nameDesc.errors && (nameDesc.dirty || nameDesc.touched)">
                            Checklist Group Name is required
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-12">
                    <label for="task">Type of the Checklist Group*</label>
                    <ng-select id="idGroupType" name="idGroupType" [items]="groupTypes" bindLabel="itemName" bindValue="id" placeholder="Type of the checklist group" [(ngModel)]="groupData.type"
                        #idGroupType="ngModel" [disabled]="id" required>
                    </ng-select>
                    <div class="error-message pl0">
                        <div *ngIf="idGroupType.errors && (idGroupType.dirty || idGroupType.touched)">
                            Group Type is required
                        </div>
                    </div>
                </div>  
            </div>
            <div class="row form-group">
                <div class="col-sm-12">
                    <label for="task">Enter Order*</label>
                    <input id="displayOrder" name="displayOrder" type="text" class="form-control" [(ngModel)]="groupData.displayorder" #displayOrder="ngModel"
                        placeholder="Enter Order" numbersOnly required />
    
                        <div class="error-message pl0">
                        <div *ngIf="idGroupType.errors && (idGroupType.dirty || idGroupType.touched)">
                            Order is required
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-group">
            <div class="col-sm-6">
                <div>
                    <div class="checkbox form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input" id="isActive" name="isActive"  [(ngModel)]="groupData.isActive"  >Set Group as Active
                          <i class="input-helper"></i>
                        </label>
                    </div>
                </div>
              </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white" (click)="modalRef.hide()">Cancel</button>
            <button type="button" class="btn btn-blue" [disabled]="!groupform.form.valid" (click)="saveGroup()">Save</button>
        </div>
        <div class="lds-css" *ngIf="loading">
            <div class="lds-ripple">
                <div></div>
                <div></div>
            </div>
        </div>
    </form>
</div>