.rpo-task {
  button.middle {
    margin-top: 12px;
  }
  .search {
    width: 294px;
    &.middle {
      margin-top: 15px;
    }
  }
}
.adv-search { display: inline-block; margin-top: 22px; font-size: 14px; padding-left: 15px; color: #24bce2; }
.jd-status{
  padding-right: 15px;
}
.no-padding{
  margin-left: 1rem;
}