<div class="rpo-address-type rpo-component">
  <div class="row component-header">
    <div class="col-sm-12">
        <h2 class="component-title pull-left mr-2">Construction Classification</h2>
        <button type="button" class="btn btn-panel pull-right middle {{showConstructionAddBtn}}" (click)="openModalForm(constructionclassificationsform,null,true)">Add Construction Classification</button>
        <div class="pull-left search middle">
            <div class="inner-addon left-addon">
              <i class="icon fa fa-search"></i>
              <input type="text" class="form-control pull-right" placeholder="Search Construction Classification" [(ngModel)]="search" (ngModelChange)="searchConstructionClassifications(search)"
            />
          </div>
        </div>
    </div>
  </div>

  <div class="component-body">
    <table id="dt-company-types" class="display"  style="width:100%"></table>
  </div>
  <ng-template #constructionclassificationsform>
    <div add-construction-classifications  [modalRef]="modalRef" [reload]="reload" [ConstructionClassificationsId]="ConstructionClassificationsId" [isNew]="isNew"></div>
  </ng-template>

</div>
<div class="lds-css" *ngIf="loading">
  <div class="lds-ripple"> 
    <div></div> 
    <div></div>
  </div>
</div>