.main-model{background: #fff5c4; border: 1px solid #e5ddb1; border-radius: 10px;} 
.main-model .fa{color: #000000;}
.main-model .modal-header{border-bottom: none;}
.modal-body .form-control{height: 150px !important;}