<div class="rpo-address-type rpo-component">
  <div class="row component-header">
    <div class="col-sm-12">
        <h2 class="component-title pull-left mr-2">Seismic Design Categories</h2>
        <button type="button" class="btn btn-panel pull-right middle {{showDesignAddBtn}}" (click)="openModalForm(seismicdesigncategoriesform,null,true)">Add Seismic Design Category</button>
        <div class="pull-left search middle">
            <div class="inner-addon left-addon">
              <i class="icon fa fa-search"></i>
              <input type="text" class="form-control pull-right" placeholder="Search Seismic Design Category" [(ngModel)]="search" (ngModelChange)="searchSeismicDesignCategories(search)" />
          </div>
        </div>
    </div>
  </div>

  <div class="component-body">
    <table id="dt-JobContact-types" class="display"  style="width:100%"></table>
  </div>
  <ng-template #seismicdesigncategoriesform>
    <div add-seismicdesign-categories  [modalRef]="modalRef" [reload]="reload" [SeismicDesignCategoriesId]="SeismicDesignCategoriesId" [isNew]="isNew"></div>
  </ng-template>

</div>
<div class="lds-css" *ngIf="loading">
  <div class="lds-ripple"> 
    <div></div> 
    <div></div>
  </div>
</div>