<div class="modal-custom-content" cdkDrag>
  <form #structureopccupancycategoriesform="ngForm">
    <div class="modal-header" cdkDragHandle>
      <button type="button" class="close close-icn" cdkDragHandle>
        <span class="fa fa-arrows"></span>
      </button>
      <h4 class="modal-title pull-left">{{isNew ? 'Create' : 'Edit'}} Structure Occupancy Category</h4>
    </div>
    <div class="modal-body pb0 pt15">
      <div class="row form-group">
        <div class="col-sm-12">
          <label for="task">Description*</label>
          <input id="description" name="description" type="text" class="form-control" [(ngModel)]="StructureOccupancyCategories.description"
            #description="ngModel" placeholder="Description" required/>
          <div class="error-message pl0">
            <div *ngIf="description.errors && (description.dirty || description.touched)">
              {{errorMsg.requiredescription}}
            </div>
          </div>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-sm-12">
          <label for="task">Code</label>
          <input id="code" name="code" type="text" class="form-control" [(ngModel)]="StructureOccupancyCategories.code" #code="ngModel"
            placeholder="Code" />
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-white" (click)="modalRef.hide()">Cancel</button>
      <button type="button" class="btn btn-blue" [disabled]="!structureopccupancycategoriesform.form.valid" (click)="saveStructure()">Save</button>
    </div>
    <div class="lds-css" *ngIf="loading">
      <div class="lds-ripple">
        <div></div>
        <div></div>
      </div>
    </div>
  </form>
</div>