.rpo-job {
  button.middle {
    margin-top: 12px;
  }
  .search {
    width: 30%;
    margin-left: 10px;
    &.middle {
      margin-top: 15px;
    }
  }
}
.rpo-image-border {
  border: 1px solid #DCD;
  padding: 4px;
}
.radio{
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
}