.view-det{
    border: 2px solid #21a4ad;
    margin-right: 1rem;
    margin-left: 1rem;
}
.title{
    color: #2874bb;
    margin-bottom: 0px;
    font-weight: 600;
    text-transform: uppercase;
}
.title_text{
    color: #05335e;
    margin-bottom: 0px;
    font-weight: 600;
}

.property{
    margin-top: 0.5rem;
    border-bottom: 1px solid;
    padding-bottom: 1rem;
}

.department{
    margin-top: 0.5rem;
}
.heading{
    background-color: #337AB7;
    color: #fff;
    border-radius: 4px;
    padding:1rem;
    margin: 1rem;
}