<div class="modal-custom-content" cdkDrag>
    <form #jobTypeform="ngForm">
        <div class="modal-header" cdkDragHandle>
            <button type="button" class="close close-icn" cdkDragHandle>
                <span class="fa fa-arrows"></span>
            </button>
            <h4 class="modal-title pull-left">{{isNew ? 'Create' : 'Edit'}} Project Type Description</h4>
        </div>
        <div class="modal-body pb0 pt15">
            <div class="row form-group">
                <div class="col-sm-12">
                    <label for="task">Project Type*</label>
                    <ng-select name="idRfpJobType" [items]="jobTypes" bindLabel="itemName" bindValue="id" placeholder="Project Type" [(ngModel)]="subJobTypeCategory.idRfpJobType"
                        #idRfpJobType="ngModel" required>
                    </ng-select>
                    <div class="error-message pl0">
                        <div *ngIf="idRfpJobType.errors && (idRfpJobType.dirty || idRfpJobType.touched)">
                            {{errorMessage.requireJobType}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-12">
                    <label for="task">Project Type Description Name*</label>
                    <input id="nameDesc" name="nameDesc" type="text" class="form-control" [(ngModel)]="subJobTypeCategory.name" #nameDesc="ngModel" placeholder="Project Type Description Name"
                        required/>
                    <div class="error-message pl0">
                        <div *ngIf="nameDesc.errors && (nameDesc.dirty || nameDesc.touched)">
                            {{errorMessage.requireJobTypeDescriptionName}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-12">
                    <div class="checkbox-inline form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" id="isCurrentStatusOfFiling" name="isCurrentStatusOfFiling" [(ngModel)]="subJobTypeCategory.isCurrentStatusOfFiling"
                            /> Capture current status of filing for this Project type
                            <i class="input-helper"></i>
                        </label>
                    </div>                    
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white" (click)="modalRef.hide()">Cancel</button>
            <button type="button" class="btn btn-blue" [disabled]="!jobTypeform.form.valid" (click)="saveJobType()">Save</button>
        </div>
        <div class="lds-css" *ngIf="loading">
            <div class="lds-ripple">
                <div></div>
                <div></div>
            </div>
        </div>
    </form>
</div>