<div class="rpo-login">
    <div class="container-box">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="text-center">
                            <img src="../../../assets/logo-black.png" width="150px" style="margin-top: 16px;" alt="">
                        </div>
                        <h4 class="component-title text-center">Privacy Policy</h4>

                        <div class="fixed-container">
                            <h4 class="component-title">
                                Privacy Policy
                            </h4>
                            <p>
                                Last Updated: November 28, 2023<br><br>
                                This Privacy Policy governs the manner in which SnapCor, Inc. ("SnapCor," "we," "our,"
                                or "us") collects, uses, maintains, and discloses information collected from users
                                ("you" or "your") of the SnapCor platform, including our website and any associated
                                services or applications (collectively, the "Offerings"). This Privacy Policy applies to
                                the Offerings and any information collected through them.
                            </p>


                            <h4 class="component-title">
                                Information We Collect
                            </h4>
                            <ul>
                                <li>
                                    <b>Personal Information: </b>
                                    We may collect personal information that you provide directly to us, such as your
                                    name, email address, postal address, phone number, and other contact information.
                                </li>
                                <li>
                                    <b>Payment Information: </b>
                                    If you make payments through the Offerings, we may collect payment information, such
                                    as credit card details or other financial information, necessary to process your
                                    transactions securely.
                                </li>
                                <li>
                                    <b>Content: </b>
                                    SnapCor allows you to publish both publicly accessible content ("Public Content")
                                    and content that is only viewable by you or users with appropriate access
                                    permissions ("Non-Public Content"). This includes any data, text, images, or other
                                    materials you choose to share through the Offerings.
                                </li>
                                <li>
                                    <b>Usage Data: </b>
                                    We may collect usage information or data related to your access or use of the
                                    Offerings, including user visits, activity, and interactions with the platform.
                                </li>
                            </ul>


                            <h4 class="component-title">
                                How We Use Your Information
                            </h4>
                            <ul>
                                <li>
                                    <b>Personal Information: </b>
                                    We may use your personal information for various purposes, including to provide and
                                    improve the Offerings, respond to your requests, communicate with you, and send
                                    updates or notifications.
                                </li>
                                <li>
                                    <b>Payment Information: </b>
                                    Payment information is collected solely for processing transactions and is not used
                                    for any other purpose. We maintain strict security measures to protect your payment
                                    information.
                                </li>
                                <li>
                                    <b>Content: </b>
                                    Public Content may be used by SnapCor for any lawful purpose without further consent
                                    or notice to you. Non-Public Content is accessed, hosted, and processed for the
                                    purpose of providing and improving the Offerings.
                                </li>
                                <li>
                                    <b>Usage Data: </b>
                                    Usage Data may be collected and processed to enhance the functionality and
                                    performance of the Offerings. We do not disclose Usage Data if it contains Personal
                                    Data or Non-Public Data without your express consent.
                                </li>
                            </ul>

                            <h4 class="component-title">
                                Feedback and Suggestions
                            </h4>
                            <p>If you provide us with feedback or suggestions regarding the Offerings, we may use and
                                publicly share such feedback for any purpose without compensation or attribution to you.
                            </p>

                            <h4 class="component-title">
                                Advertising
                            </h4>
                            <p>We may display ads, paid content, or other information in association with your content
                                and information. We also enable search engines to make Public Content findable through
                                their services.</p>

                            <h4 class="component-title">
                                Third-Party Content and Links
                            </h4>
                            <p>The Offerings may host third-party content or include links to third-party websites or
                                applications. We do not endorse or control these third-party entities, and their content
                                is not necessarily endorsed by SnapCor. Your use of third-party content or services is
                                at your own risk.</p>

                            <h4 class="component-title">
                                Security and Data Protection
                            </h4>
                            <p>We take reasonable measures to protect your information and maintain the security of the
                                Offerings, including payment information. However, we cannot guarantee the security of
                                your data, and you acknowledge that any information you share via the Offerings is at
                                your own risk.</p>

                            <h4 class="component-title">
                                Changes to This Privacy Policy
                            </h4>
                            <p>SnapCor may modify or revise this Privacy Policy at any time by posting the updated
                                policy on the Offerings. Your continued use of the Offerings after any changes to this
                                policy will constitute your acceptance of the updated terms.</p>

                            <h4 class="component-title">
                                Contacting Us
                            </h4>
                            <p>If you have any questions about this Privacy Policy or your interactions with SnapCor,
                                please contact us at:</p>
                            <br>

                            <p class="text-muted">
                                SnapCor, Inc. <br>
                                146 West 29th Street <br>
                                New York, NY 10001 USA <br>
                                <a href="mailto:support@snapcor.com" class="hyper-link">support@snapcor.com</a> <br>
                                1 (888) 762-7262
                            </p>
                            <br>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="copy-right">
                &copy; 2023 SnapCor<span class="trademark">®</span> Inc. All Rights Reserved.
            </div>
        </div>
    </div>
</div>