<div class="modal-custom-content" cdkDrag>
    <form #companyForm="ngForm" novalidate>
        <div class="modal-header" cdkDragHandle>
            <button type="button" class="close close-icn" cdkDragHandle>
                <span class="fa fa-arrows"></span>
            </button>
            <h4 class="modal-title pull-left">{{isBisDetailFound ? 'Company BIS Detail' : 'Select Company'}}</h4>
        </div>
        <div class="modal-body pt15">
            <table class="table mb0 comp-list" *ngIf="!isBisDetailFound">
                <tr>
                    <th>Company Name</th>
                    <th>Licence Number</th>
                </tr>
                <tr *ngFor="let companyinfo of bisListOfCompanies" (click)="getCompanyInfo(companyinfo.business_name,companyinfo.license_number)">
                    <td>{{companyinfo.business_name}}</td>
                    <td>{{companyinfo.license_number}}</td>
                </tr>
            </table>
    
            <div *ngIf="isBisDetailFound">
                <div class="bis-info">
                    <div>
                        <p class="mb10" *ngIf="companyBisInfo.business_name">
                            <label>Company Name:</label>
                            <span>{{this.companyBisInfo.business_name}}</span>
                        </p>
                        <p class="mb10" *ngIf="companyBisInfo.trackingNumber">
                            <label>Tracking#:</label>
                            <span>{{companyBisInfo.license_number}}</span>
                        </p>
                        <p class="mb10" *ngIf="companyBisInfo.trackingExpiry">
                            <label>Tracking Expiry:</label>
                            <span>{{companyBisInfo.trackingExpiry}}</span>
                        </p>
                        <p class="mb10" *ngIf="companyBisInfo.specialInspectionAgencyNumber">
                            <label>Special Inspection Agency#:</label>
                            <span>{{companyBisInfo.specialInspectionAgencyNumber}}</span>
                        </p>
                        <p class="mb10" *ngIf="companyBisInfo.ctLicenseNumber">
                            <label>Concrete Testing Lab License#:</label>
                            <span>{{companyBisInfo.ctLicenseNumber}}</span>
                        </p>
                        <h2>INSURANCE EXPIRY DATES</h2>
                        <p class="mb10" *ngIf="companyBisInfo.insuranceDisability">
                            <label>Disability:</label>
                            <span>{{companyBisInfo.insuranceDisability}}</span>
                        </p>
                        <p class="mb10" *ngIf="companyBisInfo.insuranceGeneralLiability">
                            <label>General Liability:</label>
                            <span>{{companyBisInfo.insuranceGeneralLiability}}</span>
                        </p>
                        <p class="mb10" *ngIf="companyBisInfo.insuranceWorkCompensation">
                            <label>Work Compensation:</label>
                            <span>{{companyBisInfo.insuranceWorkCompensation}}</span>
                        </p>
                        <p class="mb10" *ngIf="companyBisInfo.specialInspectionAgencyExpiry">
                            <label>Special Inspection Agency Expiry Date:</label>
                            <span>{{companyBisInfo.specialInspectionAgencyExpiry}}</span>
                        </p>
                        <p class="mb10" *ngIf="companyBisInfo.ctExpirationDate">
                            <label>Concrete Testing Lab Expiry Date:</label>
                            <span>{{companyBisInfo.ctExpirationDate}}</span>
                        </p>
                        <h2>ENDORSEMENTS</h2>
                        <p class="mb10" *ngIf="companyBisInfo.endorsementsDemolition">
                            <label>Demolition:</label>
                            <span>{{companyBisInfo.endorsementsDemolition}}</span>
                        </p>
                        <p class="mb10" *ngIf="companyBisInfo.endorsementsConstruction">
                            <label>Construction:</label>
                            <span>{{companyBisInfo.endorsementsConstruction}}</span>
                        </p>
                        <p class="mb10" *ngIf="companyBisInfo.endorsementsConcrete">
                            <label>Concrete:</label>
                            <span>{{companyBisInfo.endorsementsConcrete}}</span>
                        </p>
                        <p *ngIf="companyBisInfo.license_number">{{errorMsg.updateCompanyFromGetInfo}}</p>
                        <p *ngIf="noResultFound" class="text-center">{{noResultFound}}</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-blue pull-right" *ngIf="!noResultFound" (click)="saveBisInfo()">Yes</button>
                    <button type="button" class="btn btn-white pull-right" *ngIf="!noResultFound" (click)="modalRef.hide()">No</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="lds-css" *ngIf="loading">
    <div class="lds-ripple">
        <div></div>
        <div></div>
    </div>
</div>