<div class="rpo-verbiages rpo-component">
  <div class="row component-header">
    <div class="col-sm-12">
      <h2 class="component-title pull-left mr-2">Work Permit Type</h2>
      <button type="button" class="btn btn-panel pull-right middle {{showWorkPermitTypeAddBtn}}" (click)="openModal(formworkpermittype)">Add Work Permit Type</button>
      <div class="pull-left search middle">
        <div class="inner-addon left-addon">
          <i class="icon fa fa-search"></i>
          <input type="text" class="form-control pull-right" placeholder="Search Work Permit Type" [(ngModel)]="search" (ngModelChange)="searchWorkPermit(search)" />
        </div>
      </div>
    </div>
  </div>

  <div class="component-body">
    <table id="dt-workPermitType" class="display"  style="width:100%"></table>
  </div>
  <ng-template #formworkpermittype>
    <div add-work-permit-type [modalRef]="modalRef" [reload]="reload" [workPermitTypeId]="workPermitTypeId" [isNew]="new"></div>
  </ng-template>
</div>
<div class="lds-css" *ngIf="loading">
  <div class="lds-ripple">
    <div></div>
    <div></div>
  </div>
</div>