<div class="rpo-address-type rpo-component">
  <div class="row component-header">
    <div class="col-sm-12">
      <h2 class="component-title pull-left mr-2">Project Sub Types</h2>
      <button type="button" class="btn btn-panel pull-right middle {{showSubJobTypeAddBtn}}" (click)="openModalForm(formRfpSubJobType,null,true)">Add Project Sub Type</button>
      <div class="pull-left search middle">
        <div class="inner-addon left-addon">
          <i class="icon fa fa-search"></i>
          <input type="text" class="form-control pull-right" placeholder="Search" [(ngModel)]="search" (ngModelChange)="searchSubJobTypeCategory(search)" />
        </div>
      </div>
    </div>
  </div>

  <div class="component-body">
    <table id="dt-rfp-sub-job-type" class="display"  style="width:100%"></table>
  </div>
</div>

<ng-template #formRfpSubJobType>
    <div form-rfp-sub-job-type [modalRef]="modalRef" [reload]="reload" [isNew]="isNew" [idRfpSubJobTypeCategory]="idRfpSubJobTypeCategory"></div>
  </ng-template>
<div class="lds-css" *ngIf="loading">
  <div class="lds-ripple">
    <div></div>
    <div></div>
  </div>
</div>