@charset "UTF-8";

$primary-color: #33CC33;
$primary-action-color: #2DB32D;
$primary-text-color: #269926;
$info-label-text: #1D4D7A;
$info-text: #454C5C;
$btn-hover: #208020;

$header-bg-color: #E6F3E3;
$table-hover:#EEF7EC;
$border-color:#BCCAEB;
$input-border-color:#dddddd;
$disabled: #cccccc;
$input-disabled: #eeeeee;

$tooltip-color: #fff5c4;
$tooltip-border-color: #ccc49d;

$primary-contrast: #fff;
$primary-brand-color: #000000;

$secondry-color: #121212;
$tertiary-color: #006CFF;

$link-hover: #0058d0;

$user-profile: #6655D0;
$header-bg:#373737;


$primary-font: 'Red Hat Display', sans-serif;

$primary-font-size: 14px;
$extra-small: 12px;
$small: 13px;
$mediam: 16px;
$large: 18px;
$extra-large: 20px;


$primary-bg: #FFFFFF;
$primary-content-bg: #4b4b4b;
$blueWidget: #00B1D4;
